{% spaceless %}
    {% if not form.vars.valid %}
        <div class="alert alert-danger" role="alert">
            {{ form_errors(form) }}
            {% for children in form.children %}
                {% if not children.vars.valid %}
                    {{ form_errors(children) }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endspaceless %}

<h1>Change your password</h1>

<table class="table">
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        <tr>
            <td>Current Password</td>
            <td>{{ form_widget(form.current_password, {'attr': {'class' : 'form-control'}}) }}</td>
        </tr>
        <tr>
            <td>New Password</td>
            <td>{{ form_widget(form.plainPassword.first, {'attr': {'class' : 'form-control'}}) }}</td>
        </tr>
        <tr>
            <td>Confirm</td>
            <td>{{ form_widget(form.plainPassword.second, {'attr': {'class' : 'form-control'}}) }}</td>
        </tr>
        <tr>
          <td colspan="2"><button class="btn btn-default" type="submit">Save !</button></td>
        </tr>

        {{ form_rest(form) }}
    </form>
</table>
