{% extends '::base.html.twig' %}

{% block body -%}

    {% if error is defined %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}

    <h1> Create a new user</h1>

    <table class="table">
        {{ form_start(form) }}
            <tr>
                <td>Username</td>
                <td>{{ form_widget(form.username, {'attr': {'class' : 'form-control'}}) }}</td>
            </tr>
            <tr>
                <td>Last name</td>
                <td>{{ form_widget(form.lastName, {'attr': {'class' : 'form-control'}}) }}</td>
            </tr>
            <tr>
                <td>First name</td>
                <td>{{ form_widget(form.firstName, {'attr': {'class' : 'form-control'}}) }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ form_widget(form.email, {'attr': {'class' : 'form-control'}}) }}</td>
            </tr>
            <tr>
                <td>Birthday</td>
                <td>
                    <div class="row">
                      <div class="col-md-4">{{ form_widget(form.birthday.year, {'attr': {'class' : 'form-control'}}) }}</div>
                      <div class="col-md-4">{{ form_widget(form.birthday.month, {'attr': {'class' : 'form-control'}}) }}</div>
                      <div class="col-md-4">{{ form_widget(form.birthday.day, {'attr': {'class' : 'form-control'}}) }}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>OpenId</td>
                <td>{{ form_widget(form.openid, {'attr': {'class' : 'form-control'}}) }}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{ form_widget(form.plainPassword.first, {'attr': {'class' : 'form-control'}}) }}</td>
            </tr>
            <tr>
                <td>Confirm</td>
                <td>{{ form_widget(form.plainPassword.second, {'attr': {'class' : 'form-control'}}) }}</td>
            </tr>
            <tr>
              <td colspan="2">{{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}, 'label': 'Create !'}) }}</td>
            </tr>

            {{ form_rest(form) }}
        {{ form_end(form) }}
    </table>
{% endblock %}
